@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: #333;
  --white: #fff;
  --ease: 0.35s ease-in-out;
}

.dark {
  --black: #fff;
  --white: rgb(16, 16, 16);
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px 100px;
  z-index: 99;
  color: var(--black);
}

header .logo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--black);
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

header .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .btns {
  position: relative;
  width: 40px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

header .btns ion-icon {
  font-size: 1.5em;
}

header .btns.menuToggle ion-icon {
  font-size: 3em;
}

header .btns ion-icon:nth-child(2) {
  display: none;
}

header .btns.active ion-icon:nth-child(2) {
  display: block;
}

header .btns.active ion-icon:nth-child(1) {
  display: none;
}

.main {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  mix-blend-mode: screen;
}

.main h2 {
  position: relative;
  z-index: 3;
  font-size: 16vw;
  color: #fff;
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.main .copyrightText {
  position: absolute;
  left: 100px;
  bottom: 40px;
  z-index: 4;
  font-weight: 500;
  font-size: 1em;
  color: var(--black);
}

.main .sci {
  position: absolute;
  right: 100px;
  bottom: 40px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .sci li {
  list-style-type: none;
}

.main .sci li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.75em;
}

.navigation {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  z-index: 4;
  -webkit-transition: var(--ease);
  transition: var(--ease);
}

.navigation li {
  list-style: none;
}

.navigation li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35em;
  text-decoration: none;
  color: var(--black);
  padding: 5px 20px;
  border-radius: 40px;
  -webkit-transition: var(--ease);
  transition: var(--ease);
}

.navigation li :hover {
  color: var(--white);
  background: var(--black);
}

.navigation.active {
  left: 0;
}

.dark .mask {
  -webkit-filter: invert(1);
          filter: invert(1);
  mix-blend-mode: multiply;
}
/*# sourceMappingURL=style.css.map */